@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Html.ActionLink</h2>
        <p>
            @Html.ActionLink( "Link to action »", MVC.Home.Blah( "Bob", 47 ), new { @class = "btn btn-default" } )
        </p>
    </div>
    <div class="col-md-4">
        <h2>Html.ActionLink for area action</h2>
        <p>
            @Html.ActionLink( "Link to area action »", MVC.@break.Post.Index(), new { @class = "btn btn-default" } )
        </p>
    </div>
    <div class="col-md-4">
        <h2>Url.Action</h2>
        <p>
            <a href="@Url.Action(MVC.Home.SomeJsonResultAction())" class="btn btn-primary">Learn more &raquo;</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Html.AutoNamedRouteLink</h2>
        <p>
            @Html.AutoNamedRouteLink( "Link to action »", MVC.Home.AutoNamedAction( 19 ), new { @class= "btn btn-default" } )
        </p>
    </div>
    <div class="col-md-4">
        <h2>Html.AutoNamedRouteLink for area action</h2>
        <p>
            @Html.AutoNamedRouteLink( "Link to area action »", MVC.@break.Route.AutoNamedAction( 20 ), new { @class = "btn btn-default" } )
        </p>
    </div>
    <div class="col-md-4">
        <h2>Many controllers</h2>
        <p>
            @Html.ActionLink( "Many controllers »", MVC.Home.ManyControllers(), new { @class = "btn btn-success" } )
        </p>
    </div>
</div>